/* flexbox css*/
.display-flex{
  display:flex;
}
.column-flex{
  flex-direction:column; 
}
.row-flex{
  flex-direction:row;
}
.main-axis-start{
  justify-content:flex-start;
}
.main-axis-evenly{
  justify-content:space-around;
}
.cross-axis{
  align-items:center;
}
.wrap{
  flex-wrap:wrap;
}

/* height-width*/
.width{
  min-width:20vw;
  max-width:25vw;
}
.width-60{
  width:70%
}
.height-600{
  height:600px;
}
.height-40{
  height:40%;
}
.height-60{
  height:60%
}

.height-35{
  height:35px;
}
/* border*/

.border{
  border:2px solid #e4e8f0;
}
.border-shadow{
  box-shadow:0 10px 15px #e4e8f0;
}
.border-radius{
  border-radius:5px;
}
  /*  img*/
.img-fit{
  object-fit: cover;
}

/* padding and spaceing*/

.padding-5-15{
  padding:5px 15px;
}
.gap-1{
  gap:1vw;
}
/* button*/

.bg-grey{
  background:grey;
}
.text-white {
  color: white;
}
.text-center {
  text-align: center;
}

/* media queries */
@media screen and (max-width: 768px) {
  .height-600 {
    height: auto;              

  .height-40 {
    height: 200px;            

  .padding-5-15 {
    padding: 10px;
  }

  .width {
    max-width: 90vw;         

  .gap-1 {
    gap: 3vw;
  }
}